.container-image {
    text-align: center;
    background-color: #010f11;
}

.location-container {
    display: flex;
    justify-content: center;
}

header {
    width: 890px;
    height: 126px;
    background-color: #062226;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    margin-top: 30px;
    font-size: 20px;
    color: #FFFFFF;
}

header div {
    display: flex;
    flex-direction: column;
}

.form-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

form button {
    width: 100px;
    height: 30px;
    border-radius: 7px;
    font-weight: 700;
    background-color: #6FD640;
}

form input {
    width: 300px;
    height: 30px;
    padding-left: 20px;
    margin-right: 3px;
    border-radius: 7px;
    margin-bottom: 20px;
}

.resedentInfo-container {
    width: 900px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: auto;
    gap: 10px;
}

.residentCard img {
    border-radius: 10px;
}

.residentCard {
    margin-top: 20px;
    border-radius: 10px;
    background-color: #062226;
    display: flex;
    flex-direction: column;
    align-items: center;
}

hr {
    height: 3px;
    border: none;
    background-color: #084851;
}

.recidentCard-info {
    width: 270px;
    margin-top: 10px;
    color: #FFFFFF;
}

.residentCard-titleOrigin,
.residentCard-titleEpisode,
.residentCard-titleSpecie {
    color: #7E7E7E;
    font-weight: bold;

}

.recidentCard-info div {
    margin-bottom: 20px;
}

.residentCard-status {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 30px;
    background-color: #062226;
    color: #FFFFFF;
    border-radius: 5px;
}

.recidentCard-info h2 {
    text-align: center;
    margin-bottom: 5px;
}